clientId: {id}
clientSecret: {secret}
m_user: {user_email registered on mendeley}
pass: {password of mendeley}
server:{server name}
user:{your name on the server}
dirctory:{directory put on papers in the server}

